body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(221,237,250);
    background: radial-gradient(circle, rgba(221,237,250,1) 0%, rgba(142,202,226,1) 100%);
    
}




body, h1 {
    margin: 0;
    padding: 0;
}


.white-header {
    background-color: white;
    border-radius: 20px; 
    padding: 20px;
    width: 90%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    margin-top: 2%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}



.search-bar {
    display: flex;
    align-items: center;
    width: 15%;
    border-radius: 30px; 
    overflow: hidden;
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 30px; 
    outline: none;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 30px; 
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}



.product-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.products-btn:hover {
    background-color: transparent; 
    color: #0056b3;
    border: none;
    cursor: pointer;
    
}

.products-btn {
    background-color: transparent; 
    color: black;
    border: none;
    cursor: pointer;
    text-decoration: none;
    
}

.focal-point{
    margin-top: 20%;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

.product-pg{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.product-pg > *{
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    justify-content: center;

}

.prod-img{
    max-width: 50%;
    max-height: 50%;
}

.prod-card{
    display: flex;
    justify-content: center;
    width: 100%;
}

.prod-card-cont{
    margin-top: 10%;
}

.quantity-input {
    width: 50px;
    text-align: center;
}

.add-to-cart-button {
    background-color: purple;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.cart-icon {
    width: 30px;
    height: 30px;
    fill: purple;
    vertical-align: middle;
}

.left{
    width: 50%;
    display: flex;
    flex-direction: row;
}

.cart{
    margin-right: 1.5rem;
}

.prod-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}