<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Base</title>
</head>
<body>
    <header class="white-header">
        <div class="search-bar">
            <input type="text" placeholder="Search...">
            <button>Search</button>
            
        </div>
        <div class="product-button">
            <button
            href="{{ url_for('products') }}">Products</button>
        </div>
    </header>
    <main>
        <div class="container">
            {% block main %}{% endblock %}
        </div>
    </main>
</body>
</html>