<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Assignment 1</title>
</head>
<body>
    <header class="white-header">
        
        
        <div class = "left">
            <form class="form-inline" style="display:flex;">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button style="margin-left: 2%;"class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
              </form>
        <div class="product-button">
            <a
            class="products-btn"
            href="{{ url_for('homepage') }}">
            Home</a>
        </div>
        <div class="product-button">
            <a
            class="products-btn"
            href="{{ url_for('products') }}">
            Products</a>
        </div>
    </div>

        <div class = "right">
        <svg class = "cart" style="color: rgb(5, 92, 215);" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" fill="#b239f3"></path> </svg>
    </div>
    </header>
    <main>
        <div class="container">
            {% block main %}{% endblock %}
        </div>
    </main>
</body>
</html>