{% extends "base.html" %}
{% block main %}
    <div class = "product-pg">
    {% for i in prod %}
    
    <div class="card " style="width: 18rem; background-color: #eef7fc; border: none; border-radius: 10px;">
        <div style="padding: 10%; display:flex; justify-content:center; align-items:center;">
          <img class="card-img-top" src={{i[0]}} alt="Card image cap">
        </div>
        
        <div class="card-body">
          <div class = "prod-detail">
          <h5 class="card-title">{{i[1]}}</h5>
          <h5 class="card-title">{{i[4]}}</h5>
        </div>
          <a href="{{ url_for('products_id', prod_id=i[3]) }}" class="btn btn-primary">View More</a>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}