{% extends "base.html" %}
{% block main %}
<div class="card mb-3 prod-card-cont">
    <div class="prod-card" >
        <img class="card-img-top prod-img" src={{prod[prod_id][0]}} alt="Card image cap">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{prod[prod_id][1]}}</h5>
      <p class="card-text">{{prod[prod_id][2]}}</p>
      <label for="quantity">Quantity:</label>
      <input type="number" id="quantity" class="quantity-input" min="1" value="1">
      <br>
      <button class="add-to-cart-button">Add to Cart</button>
    </div>
  </div>
{% endblock %}